<div class="home-wrapper">

    <div class="filter-wrapper row">
        <div class="col-md-7 m-auto">
            <form action="" class="filter-form" autocomplete="off">
                <div class="search text-left text-lg-center">

                    <h4 class="mb-2" data-aos="fade-down">Търсене</h4>

                    <div class="input-group mb-3" data-aos="fade-up" data-aos-delay="50">
                        <input name="search" class="home-search form-control form-control-lg" type="text"
                               placeholder="Въведи какво търсиш ..."/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary btn-search" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                        <div class="advance">
                            <a href="#">Детайлно търсене</a>
                        </div>
                    </div>
                </div>
                <div class="filters ml-3 mt-2" data-aos="fade-up" data-aos-delay="150">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checked name="media_type[]" type="checkbox"
                               id="inlineCheckbox1" value="images">
                        <label class="form-check-label" for="inlineCheckbox1">Изображения</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checked name="media_type[]" type="checkbox"
                               id="inlineCheckbox2" value="video">
                        <label class="form-check-label" for="inlineCheckbox2">Видео</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checked name="media_type[]" type="checkbox"
                               id="inlineCheckbox3" value="audio">
                        <label class="form-check-label" for="inlineCheckbox3">Аудио</label>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="50">
        <div class="col-12 col-md-10 m-auto">
            <div class="most-popular-wrapper view-group">

                <h4 class="mb-4">От галерията</h4>
                <div class="row placeholders">

                    {{#times 3}}
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="ph-item">
                                <div class="ph-col-12">
                                    <div class="ph-picture"></div>
                                    <div class="ph-row">
                                        <div class="ph-col-4"></div>
                                        <div class="ph-col-8 empty"></div>
                                        <div class="ph-col-12"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="ph-row">
                                        <div class="ph-col-12"></div>
                                        <div class="ph-col-2"></div>
                                        <div class="ph-col-10 empty"></div>
                                        <div class="ph-col-8 big"></div>
                                        <div class="ph-col-4 big empty"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/times}}
                </div>
                <div class="row results-container d-none"></div>
            </div>
        </div>
    </div>
</div>